--
--  Template de criação de banco de dados para SQLServer.
--
--  O template é usado pelo scriptpack quando solicitado a criação de uma base
--  de dados do SQLServer.
--
--  A variável "{ScriptPack.TargetDb}" é o nome da base de dados a ser criada.
--
RAISERROR ('Criando base de dados {ScriptPack.TargetDb}...',10,1);
CREATE DATABASE "{ScriptPack.TargetDb}";
ALTER DATABASE "{ScriptPack.TargetDb}" SET RECOVERY SIMPLE;
